<div class="section bg-lighter border-bottom" id="header">
  <div class="row">
    <div class="sundevils col-lg-12 text-center yellowbg padding25">
      <img src="img/cloud.png" class="cloud cloud1" />
      ASU CIC Image Detection Check In
      <img src="img/cloud.png" class="cloud cloud3" />
      <!-- <img src="img/cloud.png" class="cloud cloud3" /> -->
      <img src="img/CIC_Assets-02-small.png" class="scIcon" />
    </div>

    <!-- Navigation -->
    <div class="col-lg-12 spacer goldbg">
      <div class="col-xs-3">&nbsp;</div>
      <!-- <div class="col-xs-2 link selectedlink" id="faceRecLink" onclick="location.href='#!/';">Celebrity Match</div>
      <div class="col-xs-2 link" id="emotionLink" onclick="location.href='#!/emotions';">Emotion Match</div>
      <div class="col-xs-2 link" id="hallOfFameLink"  onclick="location.href='#!/hall_of_fame';">Hall Of Fame</div> -->
      <div class="col-xs-3">&nbsp;</div>
    </div>

  </div>
</div>
